
:root {
  --blue-50: #f7f9fb;
  --blue-100: #d8e1eb;
  --blue-200: #bac9db;
  --blue-300: #9bb1cc;
  --blue-400: #7d99bc;
  --blue-500: #5e81ac;
  --blue-600: #506e92;
  --blue-700: #425a78;
  --blue-800: #34475f;
  --blue-900: #263445;
  --green-50: #f9faf7;
  --green-100: #e0e9da;
  --green-200: #c8d7bd;
  --green-300: #b0c6a0;
  --green-400: #97b483;
  --green-500: #7fa366;
  --green-600: #6c8b57;
  --green-700: #597247;
  --green-800: #465a38;
  --green-900: #334129;
  --yellow-50: #fdfcf8;
  --yellow-100: #f6f1df;
  --yellow-200: #efe6c6;
  --yellow-300: #e8dbad;
  --yellow-400: #e1d093;
  --yellow-500: #dac57a;
  --yellow-600: #b9a768;
  --yellow-700: #998a55;
  --yellow-800: #786c43;
  --yellow-900: #574f31;
  --cyan-50: #f8fbfc;
  --cyan-100: #ddebf0;
  --cyan-200: #c2dbe5;
  --cyan-300: #a7cbd9;
  --cyan-400: #8cbbce;
  --cyan-500: #71abc2;
  --cyan-600: #6091a5;
  --cyan-700: #4f7888;
  --cyan-800: #3e5e6b;
  --cyan-900: #2d444e;
  --pink-50: #fcf7f9;
  --pink-100: #f0d9e2;
  --pink-200: #e3bbcb;
  --pink-300: #d79db3;
  --pink-400: #cb7f9c;
  --pink-500: #bf6185;
  --pink-600: #a25271;
  --pink-700: #86445d;
  --pink-800: #693549;
  --pink-900: #4c2735;
  --indigo-50: #f6f8fa;
  --indigo-100: #d5dbe9;
  --indigo-200: #b3bfd8;
  --indigo-300: #91a3c7;
  --indigo-400: #7086b5;
  --indigo-500: #4e6aa4;
  --indigo-600: #425a8b;
  --indigo-700: #374a73;
  --indigo-800: #2b3a5a;
  --indigo-900: #1f2a42;
  --teal-50: #f7fbf9;
  --teal-100: #d8ebe4;
  --teal-200: #badbcf;
  --teal-300: #9bccba;
  --teal-400: #7dbca5;
  --teal-500: #5eac90;
  --teal-600: #50927a;
  --teal-700: #427865;
  --teal-800: #345f4f;
  --teal-900: #26453a;
  --orange-50: #fdf9f8;
  --orange-100: #f4e2dd;
  --orange-200: #ebcbc2;
  --orange-300: #e2b5a6;
  --orange-400: #d99e8b;
  --orange-500: #d08770;
  --orange-600: #b1735f;
  --orange-700: #925f4e;
  --orange-800: #724a3e;
  --orange-900: #53362d;
  --bluegray-50: #f9f9fa;
  --bluegray-100: #e0e4e8;
  --bluegray-200: #c8ced6;
  --bluegray-300: #afb8c3;
  --bluegray-400: #97a3b1;
  --bluegray-500: #7e8d9f;
  --bluegray-600: #6b7887;
  --bluegray-700: #58636f;
  --bluegray-800: #454e57;
  --bluegray-900: #323840;
  --purple-50: #faf7fa;
  --purple-100: #e7dbe6;
  --purple-200: #d4bed2;
  --purple-300: #c0a1be;
  --purple-400: #ad84aa;
  --purple-500: #9a6796;
  --purple-600: #835880;
  --purple-700: #6c4869;
  --purple-800: #553953;
  --purple-900: #3e293c;
  --red-50: #fcf7f8;
  --red-100: #f0d9db;
  --red-200: #e3bbbf;
  --red-300: #d79da3;
  --red-400: #cb7f86;
  --red-500: #bf616a;
  --red-600: #a2525a;
  --red-700: #86444a;
  --red-800: #69353a;
  --red-900: #4c272a;
  --primary-50: #f7f9fb;
  --primary-100: #d8e1eb;
  --primary-200: #bac9db;
  --primary-300: #9bb1cc;
  --primary-400: #7d99bc;
  --primary-500: #5e81ac;
  --primary-600: #506e92;
  --primary-700: #425a78;
  --primary-800: #34475f;
  --primary-900: #263445;
}